/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp TAB  &kp Q  &kp W     &kp E              &kp R  &kp T    &kp Y      &kp U      &kp I    &kp O     &kp P         &kp BSPC
&mt LCTRL CAPS  &kp A  &kp S     &kp D              &kp F  &kp G    &kp H      &kp J      &kp K    &kp L  &kp SEMI          &kp SQT
     &kp LSHFT  &kp Z  &kp X     &kp C              &kp V  &kp B    &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                              &kp LGUI  &mt RIGHT_ALT RET  &mo 2    &mo 1  &kp SPACE  &kp RCTRL
            >;
        };

        symbol_layer {
            bindings = <
       &kp TAB  &kp N1  &kp N2    &kp N3             &kp N4     &kp N5       &kp N6     &kp N7     &kp N8     &kp N9     &kp N0         &kp BSPC
&mt LCTRL CAPS   &none   &none  &kp LBKT           &kp LPAR   &kp LBRC     &kp RBRC   &kp RPAR   &kp RBKT  &kp MINUS  &kp EQUAL    &kp BACKSLASH
     &kp LSHFT   &none   &none     &none        &kp PERCENT  &kp MINUS    &kp UNDER   &kp AMPS      &none      &none      &none  &kp RIGHT_SHIFT
                                &kp LGUI  &mt RIGHT_ALT RET      &mo 2        &mo 1  &kp SPACE  &kp RCTRL
            >;
        };

        nav_layer {
            bindings = <
       &kp TAB      &none  &kp LC(TAB)  &kp LC(E)              &none  &kp LC(R)        &kp HOME     &kp PG_DN     &kp PG_UP         &none         &none         &kp BSPC
&mt LCTRL CAPS  &kp LC(A)    &kp LC(S)  &kp LC(X)          &kp LC(V)  &kp LC(C)        &kp LEFT      &kp DOWN        &kp UP     &kp RIGHT     &kp RCTRL            &BT_CLR
     &kp LSHFT     &trans        &none      &none      &kp LC(LS(Z))  &kp LC(Z)    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &kp RIGHT_SHIFT
                                         &kp LGUI  &mt RIGHT_ALT RET      &mo 2           &mo 1     &kp SPACE     &kp RCTRL
            >;
        };
    };
};
